on: [push]
jobs:
  setup_zarf:
    strategy:
      fail-fast: true
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: Setup Zarf
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup Zarf
        id: setup_zarf
        uses: ./
        # with:
          # version: ''

      - name: Zarf Version
        id: zarf_version
        run: zarf version
