name: "Setup Zarf"

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  test-defaults:
    name: Defaults config test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup Zarf with defaults
        uses: ./

      - name: Verify Zarf version
        run: zarf version

  setup-zarf:
    name: Full test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Zarf
        uses: ./
        with:
          download-init-package: true
          version: v0.22.2

      - name: Zarf Version
        run: zarf version

      - name: Create k3d Cluster
        run: |
          curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash
          k3d --version
          k3d cluster create

      - name: Zarf Init
        run: zarf init --confirm

      - name: Deploy DOS Games
        run: zarf package deploy sget://defenseunicorns/zarf-hello-world:$(uname -m) --confirm

      - name: List installed packages
        run: zarf package list
